body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.words {
    border: 2px solid green;
    margin-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    float: left;
    position: fixed;
    bottom: 0;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.lett {
    cursor: help;
    border: 1px solid #696767;
    display: inline;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

/*.ui-dialog[aria-describedby="dialog-confirm"] {
    border: 1px solid rgba(255, 121, 121, 0.98) !important;
}*/
/*.ui-dialog-titlebar
{ 
   display: none !important;
}*/
#btndelete{
    border: 1px solid rgba(255, 121, 121, 0.98)
}
