@model IEnumerable<WoW.Models.ViewModels.Words.AllWordsOfUser>
@{
    ViewBag.Title = "GetWords";
    string Active = "";
}
<h2>Това са думите добавени от вас</h2>


<h3>TODO да се покажат всички въпроси, отговори и думи в които потребителя участва</h3>

@using (Html.BeginForm())
{
    foreach (var word in Model)
    {
        <div class="words">
            
            @Html.DisplayFor(w => word.Name)
            @Html.LabelFor(w => word.IsValid, "Описание:")
            @*@Html.DisplayNameFor(m => m.Description)*@
            @Html.DisplayFor(w => word.Description)
           @Html.LabelFor(w => word.IsValid, "Статус:")
           @{if (word.IsValid == false) { Active = "Не е одобрена"; } else { Active = "Одобрена"; }}
            @Active
            <br />
        </div>
    }
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
}